<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        Desculpa, o projeto nao está acabado, mas por favor tenha em consideracao as seguintes observacoes:
        <ul>
            <li>
                O projeto foi desenvolvido utilizando uma abordagem de arquitetura DDD
            </li>
            <li>
                Principio SOLID seguido
            </li>
            <li>Principais Patterns: Abstract Repository, Factory e Service Locator, MVC, IoC</li>
            <li>Projeto modular divido em camadas com separacao de responsabilidade de objetos</li>
            <li>Está muito fácil de terminar o projeto agora, apenas nao tive tempo suficiente, as camadas estao bem divididas, agora só falta implementar o comportamento dos objetos praticamente e configurar as controllers do angular com os servicos.</li>
            <li>Existem duas interfaces gráficas para este projeto utilizando o mesmo backend, um é o MVC, este aqui. O outro se encontra na pasta CarsCollectors.Angular.</li>
            <li>O projeto em angular, conta com automacao de tarefa, minimizacao de scripts, e uma serie de configuracoes para deploy e manutencao do código. (veja a pagina do github sobre como rodar o projeto)</li>
        </ul>
    </p>

</div>
